<h1>Login</h1>
<form action="/register" method="POST">
    <div>
        <label for="Customer ID">Customer ID</label>
        <input type="text" id="Customer ID" name="Customer ID"
        required>
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="text" id="Password" name="Password"
        required>
    </div>
    <button type="Login">Login</button>
</form>

<a href="/register">Register</a>