<h1>Register</h1>
<form action="/register" method="POST">
    <div>
        <label for="Customer ID">Customer ID</label>
        <input type="text" id="Customer ID" name="Customer ID"
        required>
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="text" id="Password" name="Password"
        required>
    </div>
    <div>
        <label for="Phone">Phone</label>
        <input type="text" id="Phone" name="Phone"
        required>
    </div>
    <button type="Register">Register</button>
</form>

<a href="/login">Login</a>